<h2>Potwierdź zamówienie</h2>

<table class="">
  <thead>
    <th>Produkt</th>
    <th>Liczba sztuk</th>
    <th>Cena jednostkowa</th>
    <th>Cena całkowita</th>
  </thead>
  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= active_link_to line_item.item_name, product_path(line_item.product) %> <span class="text-xs">rozmiar <%= Variant.find(line_item.variant_id).size.name %></span></td>
        <td class="text-right"><%= line_item.quantity %></td>
        <td class="text-right"><%= number_to_currency line_item.unit_price %></td>
        <td class="text-right"><%= number_to_currency line_item.full_price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Dostawa: <%= @cart.shipping_type.name %></td>
      <td></td>
      <td colspan="2" class="text-right"><%= number_to_currency @cart.shipping_cost %></td>
    </tr>
    <tr>
      <td colspan="4"><hr/></td>
    </tr>
    <tr>
      <th colspan="3" class="text-xl text-right">Całość</th>
      <td class="text-right font-bold text-xl"><%= number_to_currency @cart.full_cost %></td>
    </tr>
  </tbody>
</table>
<%= form_with(url: "https://ssl.dotpay.pl/test_payment/", method: "post", local: true) do %>
  <%= hidden_field_tag(:id, @id) %>
  <%= hidden_field_tag(:amount, @amount) %>
  <%= hidden_field_tag(:currency, @currency) %>
  <%= hidden_field_tag(:description, @description) %>
  <%= hidden_field_tag(:channel, @channel) %>
  <%= hidden_field_tag(:url, @url) %>
  <%= hidden_field_tag(:type, @type) %>
  <%= hidden_field_tag(:firstname, @firstname) %>
  <%= hidden_field_tag(:lastname, @lastname) %>
  <%= hidden_field_tag(:email, @email) %>
  <%= hidden_field_tag(:bylaw, @bylaw) %>
  <%= hidden_field_tag(:personal_data, @personal_data) %>
  <%= hidden_field_tag(:chk, calculateChk("xdKQWOGLpDQYWaDtFmruxu3dBMwOUMYS", @id, @amount, @currency, @description, @channel, @url, @type, @firstname, @lastname, @email, @bylaw, @personal_data)) %>
  <%= submit_tag "Zamawiam i płacę", :class => "btn cursor-pointer" %>
<% end %>
