<h2 class="text-gray-300">Produkty</h2>
<%= link_to new_admin_product_path, class: "btn mb-6" do %>
  Dodaj nowy produkt
<% end %>

<div class="">
  <%= search_form_for [:admin, @q] do |f| %>
    <%= f.text_field :name_or_description_or_long_description_cont, placeholder: "Search", class: 'form-input mb-6' %>
    <%= f.text_field :price_gt, placeholder: "Price >", class: 'form-input mb-6' %>
    <%= f.submit "Search", class: "btn cursor-pointer" %>
  <% end %>
</div>

<table class="table-auto my-4">
  <thead>
    <tr>
      <th class="border border-gray-600 px-4 py-2"><%= sort_link(@q, :name, "Nazwa") %></th>
      <th class="border border-gray-600 px-4 py-2"><%= sort_link(@q, :price, "Cena") %></th>
      <th class="border border-gray-600 px-4 py-2">Kategoria</th>
      <th class="border border-gray-600 px-4 py-2"></th>
      <th class="border border-gray-600 px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr class="border border-gray-600 border-t-4">
      <td class="border border-gray-600 px-4 py-2"><%= product.name %></td>
      <td class="border border-gray-600 px-4 py-2"><%= number_to_currency product.price %></td>
      <td class="border border-gray-600 px-4 py-2"><%= product.category.name %></td>
      <td class="border border-gray-600 px-4 py-2"><%= link_to "Edycja", edit_admin_product_path(product), class: "btn" %></td>
      <td class="border border-gray-600 px-4 py-2"><%= link_to "Dodaj wariant", new_admin_variant_path(:product_id => product.id, :product_name => product.name), class: "btn" %></td>
    </tr>
    <% product.variants.each do |variant| %>
      <tr class="text-sm">
        <td class="border border-gray-600 px-4 py-2"><%= variant.size.name %></td>
        <td class="border border-gray-600 px-4 py-2"><%= variant.color.name %></td>
        <td class="border border-gray-600 px-4 py-2"><%= variant.quantity %></td>
        <td class="border border-gray-600 px-4 py-2"><%= link_to "Edycja", edit_admin_variant_path(variant, :product_id => product.id, :product_name => product.name), class: "btn" %></td>
        <td class="border border-gray-600 px-4 py-2"></td>
      </tr>
    <% end %>


    <% end %>
  </tbody>
</table>
<%= paginate @products %>
