<% products.each_slice(3) do |slice| %>
  <div class="flex flex-wrap">
   <% slice.each do |product| %>
    <div class="pb-6 w-64 ml-20 mr-20">
      <%= link_to product_path(product) do %>
        <%= image_tag product.photo.url(:thumb), class: "w-64 h-48 rounded-lg shadow-xl" %>
      <% end %>
      <div class="caption">
        <h3><%= link_to product.name, product %></h3>
        <p><%= simple_format(product.description.truncate(90)) %></p>
        <p><%= number_to_currency product.price %></p>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
