<!DOCTYPE html>
<html>
  <head>
    <title>Sklep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
  </head>

  <body class="bg-blue-200 text-gray-800">
    <header class="flex items-center justify-between flex-wrap pt-5 pb-3">
      <div class="container mx-auto">
        <div class="flex">
          <div id="logo" class="tracking-wider relative">
            <h1 class="flex items-center flex-shrink-0 font-bold text-5xl">
              <a class="text-gray-800 hover:text-gray-800" href="<%= root_path %>">Najzabawniejsza Koszulka Świata</a>
            </h1>
          </div>
          <nav class="font-medium w-full block flex-grow lg:flex lg:items-end lg:w-auto justify-end tracking-wider">
          <ul>
            <li id="cart-link">
              <%= active_link_to cart_path do %>
                <svg class="h-6 w-6 mb-px mr-1 fill-current inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 2h16l-3 9H4a1 1 0 1 0 0 2h13v2H4a3 3 0 0 1 0-6h.33L3 5 2 2H0V0h3a1 1 0 0 1 1 1v1zm1 18a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm10 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
                <%= t("produkt", count: current_cart.line_items.map { |e| e.quantity }.sum) %> za
                <%= number_to_currency(current_cart.line_items.map { |e| e.full_price }.sum) %>
              <% end %>
            </li>
          </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="container mx-auto mt-8">
      <%= yield %>
    </main>

    <footer class="bg-blue-300 py-6 mt-6">
      <nav class="container mx-auto mb-4">
        <ul class="lg:flex justify-center">
          <li><%= active_link_to "Polityka prywatności", privacy_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-800 hover:text-gray-700 mr-4" %></li>
          <li><%= active_link_to "Regulamin", terms_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-800 hover:text-gray-700 mr-4" %></li>
          <li><%= active_link_to "Dostawa i płatności", shipping_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-800 hover:text-gray-700 mr-4" %></li>
          <li><%= active_link_to "O sklepie", about_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-800 hover:text-gray-700 mr-4" %></li>
        </ul>
      </nav>
      <div class="container mx-auto text-center">© 2020 All rights reserved</div>
    </footer>


  </body>
</html>
